body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

/* * { color:#fff; } */
.prasad {
color: rgb(36, 158, 214);
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 3.5rem;
}